<div fxFlexFill>
  <h3> Input de cadastro </h3>

  <form #ngForm="ngForm">
    <section fxFlex fxLayout="column" fxLayoutGap="8px">

      <div>
        <mat-form-field>
          <input i18n-placeholder placeholder="Insira a marca" name="brand" [(ngModel)]="cellphone.brand" matInput required>
        </mat-form-field>

        <mat-form-field>
          <input i18n-placeholder placeholder="Insira o modelo" name="model" [(ngModel)]="cellphone.model" matInput required>
        </mat-form-field>

        <mat-form-field>
          <input i18n-placeholder placeholder="Insira o preço" name="price" [(ngModel)]="cellphone.price" matInput required>
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field fxFLex> 
          <input i18n-placeholder placeholder="Insira a data" name="date" [(ngModel)]="cellphone.date" matInput required>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input i18n-placeholder placeholder="Insira a URL da foto" name="photo" [(ngModel)]="cellphone.photo" matInput required>
        </mat-form-field>

        <!-- Botão só será habilitado caso todos os itens do formulário estejam preenchidos. -->
        <div style="width: 300px">
          <button (click)="addOnList()" [disabled]="!ngForm.valid">Adicionar à lista</button>
        </div>
      </div>

    </section>
    <div fxFlex="70"></div>
  </form>

  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="10px">
    <app-cellphone *ngFor="let cellphone of cellphones" [cellphone]="cellphone"></app-cellphone>
  </div>

  <div>
    <h3>Resultado esperado do retorno da API</h3>
    {{cellphones | json}}
  </div>

</div>