<div>

  <!-- O valor de cellphone pode ser recuperado através do retorno de uma API retornando apenas a referência para ele.-->
  <!-- No padrão de API identificado no email, seria `/claro/mobile/{cellphone.code}` -->
  <!-- Poderia ser usado um Resolver para recuperar as informações necessárias para a página selecionada. -->
  <img src="{{cellphone?.photo}}">

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A debitis exercitationem atque expedita eius praesentium numquam</p>
  <p>delectus laborum! Dignissimos illo placeat reprehenderit magnam cumque. Quo iure voluptate suscipit minima alias.</p>

  <button (click)="goBack()">Voltar</button>

</div>