<div fxFlexFill>
  <h3> Input de cadastro </h3>

  <form #ngForm="ngForm">
    <section fxFlex fxLayout="column" fxLayoutGap="8px">
      <div fxFlex>
        <input placeholder="Insira a marca" id="brand" name="brand" [(ngModel)]="cellphone.brand" required>
      </div>
      <div fxFlex>
        <input placeholder="Insira o modelo" id="model" name="model" [(ngModel)]="cellphone.model" required>
      </div>
      <div fxFlex>
        <input placeholder="Insira o valor" id="price" name="price" [(ngModel)]="cellphone.price" required>
      </div>
      <div fxFlex>
        <input mat-input placeholder="Insira a data" id="date" name="date" [(ngModel)]="cellphone.date" required>
      </div>
      <div fxFlex>
        <input placeholder="Insira a imagem" id="photo" name="photo" [(ngModel)]="cellphone.photo" required>
      </div>
      <!-- Botão só será habilitado caso todos os itens do formulário estejam preenchidos. -->
      <div style="width: 300px">
        <button (click)="addOnList()" [disabled]="!ngForm.valid">Adicionar à lista</button>
      </div>
    </section>
    <div fxFlex="70"></div>
  </form>

  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="10px">
    <app-cellphone *ngFor="let cellphone of cellphones" [cellphone]="cellphone"></app-cellphone>
  </div>

  <div>
    <h3>Resultado esperado do retorno da API</h3>
    {{cellphones | json}}
  </div>

</div>